<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAgZZsfvGQ9NBIWuHL5Amc-qdB9GnNa5fA</string>
	<key>GCM_SENDER_ID</key>
	<string>914999766274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.paysheet.app</string>
	<key>PROJECT_ID</key>
	<string>paysheet-86012</string>
	<key>STORAGE_BUCKET</key>
	<string>paysheet-86012.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:914999766274:ios:10c927a22131248ed7261b</string>
</dict>
</plist>